<script>
  <%= coffee_script do %>

    base_url = "http://localhost:4000"
    socket_url = base_url + "/socket.io/socket.io.js"

    # Append responses from Node server
    logResponse = (response) ->
      console.log "server responded with", response
      responseItem = $("<li>").text(response)
      $(".responses").append responseItem

    # Authenticate user 
    authenticate = (user_id, token, callback) ->
      console.log "trying to authenticate", user_id, token
      socket.emit "device:authenticate",
        auth_token: token
        user_id: user_id,
        callback

    # Load and create connection to socket
    loadSocketIo = ->
      script = document.createElement("script")
      script.src = socket_url
      script.onload = ->
        connectSocket()

      document.body.appendChild script
      

    # Connecto to socket and listen
    connectSocket = ->
      self = this
      socket = io.connect(base_url)

      window.socket = socket
      socket.on "connect", (data) ->
        socket.emit "connect:log", user_id: 4

      # socket.on "node:log", logResponse
      socket.on "hello", 
        (data) ->
          console.log("Recieved data: ", data)


      socket.on "node:users:online", (data) ->
        users = JSON.parse(data)
        online_users_html = '<table><tr><th>ID</th><th>User name</th><th>Logged since</th></tr>'
        console.log("Data ", data)
        console.log("Users", users) 
        users.forEach (value, index) ->
          #console.log("Value", value)
          online_users_html += users_show_tmpl(value);
        online_users_html += '</table>' 
        $('#online_users').html(online_users_html);

    users_show_tmpl = (value) ->
      if value
        return '<tr><td>'+ value.user.id + '</td>' + '<td>'+ value.user.name + '</td>' + '<td>'+ value.user.log_since + '</td></tr>'


    $ ->
      api_base_url = "http://localhost:3000"
      
      # Set connections data for log user  
      email = '<%= EMAIL %>'
      password = '<%= PASSWORD %>'
      token = '<%= TOKEN %>'
      user_id = '<%= USER_ID %>'

      # Authenticate user by token and log him in
      login = (email, password, token, user_id) ->
        $.post api_base_url + "/api/authentication",
          email: email
          password: password,
          (data, status, xhr) ->
            if xhr.status is 200
              authenticate user_id, token, (response) ->
                console.log "authentication response", response

            console.log data
      # api_base_url = "http://rea-rails.herokuapp.com"
      # Automaticaly connects log user
      #login email, password, token, user_id 

      

    window.onload = loadSocketIo
  <% end %>
</script>
<h1>Remote assistant Activity</h1>

<br>

Online users: 
<section id="online_users">
  
</section>

<ul class="responses">
</ul>