<script src="<%= NODE_HOST %>/socket.io/socket.io.js"></script>
<script>
  var api_base_url = '<%= RAILS_HOST %>';
  var base_url = "<%= NODE_HOST %>";
  var socket = io.connect(base_url, {query: 'version=v1'});
  var autoscroll = true;
  

    
  $(document).ready(function () {
    
    $("#log-header").click(function(e) {
      $("#log-filter").slideToggle();
    });

    $(".monitor_users").click(function(e) {
      e.preventDefault();
      users = $("#monitor_users").val().join();
      monitor_users(users);
    });

    $(".monitor_admins").click(function(e) {
      e.preventDefault();
      users = $("#admin_users").val();
      monitor_users(users);
    });

    $(".monitor_myself").click(function(e) {
      e.preventDefault();
      users = $("#my_auth_tokens").val();
      monitor_users(users);
    });

    $(".reset_filter").click(function(e) {
      e.preventDefault();
      users = "";
      monitor_users(users);
    });
  });

  function monitor_users(users){
    socket.emit("set:log:users", { users: users}, function(data){
      if(data.success){
        alert('Users were successfully set!');
      }
    });
  }


  function isScrolledIntoView(elem){
      var docViewTop = $(window).scrollTop();
      var docViewBottom = docViewTop + $(window).height() + 600;

      var elemTop = $(elem).offset().top;
      var elemBottom = elemTop + $(elem).height();

      return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
  }

  // socket.emit('request:log:connection', { log: true });

  socket.on("connect", function(data) {
    socket.emit("request:log:connection", {log: true});
  });

  socket.on('log:connected', function (data) {
    parseOnlineUsers(data);
  });

  socket.on('log:online:users', function (data) {
    parseOnlineUsers(data);
  });

  socket.on('log:online:devices', function (data) {
    parseOnlineDevices(data);
  });

  socket.on('log:pending:calls', function (data) {
    parsePendingCalls(data);
  });

  socket.on('log:active:calls', function (data) {
    parseActiveCalls(data);
  });

  socket.on('log:feed', function (data) {
    log = JSON.parse(data);
    if(log.type == 'rails'){
      var log_class = 'log_rails';
      datetime = log.timestamp.split(" ");
      date = datetime[0].split("-");
      var timestamp = date[2] + "." + date[1] + ". " + datetime[1];
    }
    else{
      var log_class = 'log_node';
      var date = new Date(log.timestamp);
      var timestamp = date.getDate() + "." + (date.getMonth() + 1) + ". " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds() + ":" + date.getMilliseconds();
    }
    
    row = '<tr class="' + log_class + ' ' + log.level.toLowerCase() + ' "><td>'+ timestamp + '</td><td>'+ log.level.toLowerCase() + '</td><td>'+ log.msg + '</td></tr>';

    $('#logs').append(row);
    tail();
  });

  function tail(){
    var elem = $(".table-logs tr:last");
    
    if(isScrolledIntoView(elem)){
      autoscroll = true;
    }else{
      autoscroll = false;
    }
 
    if(autoscroll){
      $("#log-wrapper").animate({"scrollTop": $('#logs')[0].scrollHeight}, 0);
    }
  }


  function parseOnlineUsers(data){
    users = JSON.parse(data);

    online_users_html = '<table class="table table-striped table-bordered table-hover"><thead><tr><th>ID</th><th>User name</th><th>Connected at</th></tr></thead><tbody>';
    users.forEach(function(value, index){
      online_users_html += usersShowTmpl(value);
    });
    online_users_html += '</tbody></table>';
    $('#online_users').html(online_users_html);
  }

  function parseOnlineDevices(data){
    devices = JSON.parse(data);

    online_devices_html = '<table class="table table-striped table-bordered table-hover"><thead><tr><th>UUID</th><th>User ID</th><th>Is background</th><th>Network</th><th>Connected at</th></tr></thead><tbody>';
    devices.forEach(function(value, index){
      online_devices_html += devicesShowTmpl(value);
    });
    online_devices_html += '</tbody></table>';
    $('#online_devices').html(online_devices_html);
  }

  function parsePendingCalls(data){
    calls = JSON.parse(data);

    pending_calls_html = '<table class="table table-striped table-bordered table-hover"></thead><tr><th>Caller</th><th>Assistant</th><th>Pending since</th></tr></thead><tbody>';
    calls.forEach(function(value, index){
     pending_calls_html += callsShowTmpl(value);
    });
    pending_calls_html+= '</tbody></table>';
    $('#pending_calls').html(pending_calls_html);
  }

  function parseActiveCalls(data){
    calls = JSON.parse(data);

    active_calls_html = '<table class="table table-striped table-bordered table-hover"><thead><tr><th>Caller</th><th>Assistant</th><th>Call started at</th></tr></thead><tbody>';

    calls.forEach(function(value, index){
     active_calls_html += callsShowTmpl(value);
    });
    active_calls_html+= '</tbody></table>';
    $('#active_calls').html(active_calls_html);
  }

  // Templates

  function usersShowTmpl(value){
    if(value){
      return '<tr><td>' + value.id + '</td>' + '<td>' + value.name + '</td>' /*+ '<td>' + value.user.connection.type+ '</td>' +  '<td>' /*+ value.user.state + '</td>'*/ + '<td>' + value.connected_at + '</td></tr>';
    }
  }

  function devicesShowTmpl(value){
    if(value){
      return '<tr><td>' + value.uuid + '</td>' + '<td>' + value.user_id + '</td>' + '<td>' + value.is_background+ '</td>' +  '<td>' + value.connection_type + '</td>' + '<td>' + value.connected_at + '</td></tr>';
    }
  }

  function callsShowTmpl(value){
    if(value){
      if(value.call_started_at != ""){
        var call_start = value.call_started_at;
      }else{
        var call_start = value.pending_started_at;
      }

      return '<tr><td>' + value.caller_name + ' (' + value.caller_id + ')</td>' + '<td>' + value.assistant_name + ' (' + value.assistant_id + ')</td>' + '<td>' + call_start + '</td></tr>';
    }
  }

  
  

</script>

<div class="row">
  <div class="col-lg-12">
    <h3>Activity Monitor</h3>
  </div>
</div>

<div class='row'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading" id='log-header'>Users filter <i>(click for show/hide)</i></div>
      <div class="panel-body" id="log-filter" style="display:none;">
        <%= select_tag :users, options_for_select(User.order(:id).collect{|u| ["#{u.get_name_or_phone} (role: #{u.role}, id: #{u.id})", u.get_auth_tokens]}), id: 'monitor_users', class: 'form-control', :multiple => true %><br />
        <%= button_tag "Set selected users", class: 'monitor_users btn btn-primary' %>

        <% admin_users = [] %>
        <% User.where(role: 'admin').each do |admin| %>
          <% admin_users << admin.get_auth_tokens %>
        <% end %>

        <%= hidden_field_tag 'admin_users', admin_users.reject{ |c| c.empty? }.join(",") %>
        <%= button_tag "Show only admins", class: 'monitor_admins btn btn-primary' %>

        <%= hidden_field_tag 'my_auth_tokens', current_user.get_auth_tokens %>
        <%= button_tag "Show only me", class: 'monitor_myself btn btn-primary' %>
        <%= button_tag "Reset filter", class: 'reset_filter btn btn-danger' %>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Log</div>
      <div class="panel-body">
        <div id='log-wrapper'>
          <table class="table table-logs table-bordered ">
            <thead>
              <tr>
                <th>Time</th>
                <th>Level</th>
                <th>Msg</th>
              </tr>
            </thead>
            <tbody id ='logs'>
              
            </tbody>
          </table>
          <%#= render 'logs' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Online users</div>
      <div class="panel-body">
        <div class="table-responsive" id="online_users">
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Online devices</div>
      <div class="panel-body">
        <div class="table-responsive" id="online_devices">
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Active calls</div>
      <div class="panel-body">
        <div class="table-responsive" id="active_calls">

        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Pending calls</div>
      <div class="panel-body">
        <div class="table-responsive" id="pending_calls">
        </div>
      </div>
    </div>
  </div>
</div>


