<script src="<%= NODE_HOST %>/socket.io/socket.io.js"></script>
<script>
  <%= coffee_script do %>


    base_url =  '<%= NODE_HOST %>'
    #socket_url = base_url + "/socket.io/socket.io.js"
    socket = io.connect(base_url);

    # Append responses from Node server
    logResponse = (response) ->
      console.log "server responded with", response
      responseItem = $("<li>").text(response)
      $(".responses").append responseItem

    # Authenticate user 
    authenticate = (user_id, token, callback) ->
      console.log "trying to authenticate", user_id, token
      socket.emit "device:authenticate",
        auth_token: token
        user_id: user_id,
        callback

      #socket.on "connect", (data) ->
        #console.log("On connect: ", data);
      

      socket.on "online_users", (data) ->

        users = JSON.parse(data)
        online_users_html = '<table><tr><th>ID</th><th>User name</th><th>Logged since</th></tr>'
        console.log("Data ", data)
        console.log("Users", users) 
        users.forEach (value, index) ->
          #console.log("Value", value)
          online_users_html += users_show_tmpl(value);
        online_users_html += '</table>' 
        $('#online_users').html(online_users_html);

    users_show_tmpl = (value) ->
      if value
        return '<tr><td>'+ value.user.id + '</td>' + '<td>'+ value.user.name + '</td>' + '<td>'+ value.user.log_since + '</td></tr>'


    $ ->
      #api_base_url = "http://localhost:3000"
      api_base_url = '<%= NODE_HOST %>'
      
      # Set connections data for log user  
      email = '<%= EMAIL %>'
      password = '<%= PASSWORD %>'
      token = '<%= TOKEN %>'
      user_id = '<%= USER_ID %>'

      # Authenticate user by token and log him in
      login = (email, password, token, user_id) ->
        $.post api_base_url + "/api/authentication",
          email: email
          password: password,
          (data, status, xhr) ->
            if xhr.status is 200
              authenticate user_id, token, (response) ->
                console.log "authentication response", response

            console.log data
      
      # Automaticaly connects log user
      login email, password, token, user_id 

  <% end %>
</script>
<h1>Remote assistant Activity</h1>

<br>

Online users: 
<section id="online_users">
  
</section>

<ul class="responses">
</ul>