<div class="row">
  <div class="col-lg-12">
    <h3 >Dashboard</h3>
  </div>
</div>

<div id="twilio"></div>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script>
  $(window).load(function() {
    $.getScript('dashboard/twilio.js');
  });
</script>

<div>
  Last hour <%= @users.where('last_sign_in_at >= ?',  1.hour.ago).count %>
  Last day <%= @users.where('last_sign_in_at >= ?',  Date.today).count %>
  Last 24h <%= @users.where('last_sign_in_at >= ?',  1.day.ago).count %>
  Last week <%= @users.where('last_sign_in_at >= ?',  1.week.ago).count %>
  Last month <%= @users.where('last_sign_in_at >= ?',  1.month.ago).count %>
  Total <%= @users.count %>
</div>
