<%= form_for(@connection) do |f| %>
  <% if @connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@connection.errors.count, "error") %> prohibited this connection from being saved:</h2>
      <ul>
      <% @connection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.select :user_id, options_for_select(User.all.collect{|u| [u.name, u.id]}, @connection.user_id) %>
  </div>
  <div class="field">
    <%= f.label :contact_id %>
    <%= f.select :contact_id, options_for_select(User.all.collect{|u| [u.name, u.id]}, @connection.contact_id) %>
  </div>
  <div class="field">
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :is_pending %>
    <%= f.check_box :is_pending %>
  </div>
  <div class="field">
    <%= f.label :is_rejected %>
    <%= f.check_box :is_rejected %>
  </div>
  <div class="field">
    <%= f.label :is_removed %>
    <%= f.check_box :is_removed %>
  </div>
  <hr />
  <div class="actions">
    <%= f.submit('Update connection', class: 'btn btn-primary') %>
  </div>
<% end %>
