<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header text-asbestos">Connections</h3>
  </div>
</div>

<table>
  <tr>
    <th>USER </th>
    <th>CONTACT</th>
    <th>NICKNAME</th>
    <th>IS PENDING</th>
    <th>IS REJECTED</th>
    <th>IS REMOVED</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @connections.each do |connection| %>
    <tr>
      <td><%= connection.user.name if connection.user%> (<%= connection.user_id %>)</td>
      <td><%= connection.contact.name if connection.contact %> (<%= connection.contact_id %>)</td>
      <td><%= connection.nickname  %></td>
      <td><%= connection.is_pending %></td>
      <td><%= connection.is_rejected %></td>
      <td><%= connection.is_removed  %></td>
      <td><%= link_to 'Show', connection %></td>
      <td><%= link_to 'Edit', edit_connection_path(connection) %></td>
      <td><%= link_to 'Destroy', connection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end -%>
</table>

<%= link_to 'New Connection', new_connection_path %>