<h1>Listing sessions</h1>

<table>
  <thead>
    <tr>
			<th>ID</th>
      <th>Session</th>
			<th>Sender</th>
			<th>Recipient</th>
			<th>Created</th>
			<th>Updated</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
				<td><%= session.id %></td>
        <td><%= session.session_id.truncate(20) %></td>
        <td><%= session.sender ? session.sender.name : '-' %></td>
        <td><%= session.recipient ? session.recipient.name : '-' %></td>
				<td><%= session.created_at %></td>
				<td><%= session.updated_at %></td>
        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>