<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @session.id %>
</p>

<p>
  <strong>Session:</strong>
  <%= @session.session_id.truncate(20) %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @session.sender ? @session.sender.name : '-' %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @session.recipient ? @session.recipient.name : '-' %>
</p>

<p>
  <strong>Created:</strong>
  <%= @session.created_at %>
</p>

<%= link_to 'Back', sessions_path %>
