<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @session.session_id.truncate(20) %>
</p>

<p>
  <strong>Created:</strong>
  <%= @session.created_at %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
