<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header text-asbestos">Devices</h3>
  </div>
</div>


<table width="100%">
  <tr>
    <th>UUID</th>
    <th>PHONE</th>
    <th>LANGUAGE</th>
    <th>VERIFICATION CODE</th>
    <th>INVALID VERIFICATIONS</th>
    <th>SMS SENT</th>
    <th>RESENT</th>
    <th>RESENT AT</th>
    <th></th>
  </tr>
  <% @devices.each do |device| %>
    <tr>
      <td><%= device.uuid%></td>
      <td><%= device.phone%></td>
      <td><%= device.language%></td>
      <td><%= device.verification_code %></td>
      <td><%= device.invalid_count %></td>
      <td><%= device.sms_count %></td>
      <td><%= device.resent %></td>
      <td><%= l(device.resent_at, format: "%d.%m.%Y %H:%M") if device.resent_at%></td>
      <td>
        <%= link_to("Reset sms", reset_sms_device_path(device), method: :put) %>
      </td>
    </tr>
  <% end -%>
</table>


