<div class="row">
  <div class="col-lg-12">
    <h3>Devices</h3>
  </div>
</div>

<div class='row'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover" id="sorted_table">
            <thead>
              <tr>
                <th>ONLINE</th>
                <th>UUID</th>
                <th>USER ID</th>
                <th>PHONE</th>
                <th>LANGUAGE</th>
                <th>VERIFICATION CODE</th>
                <th>INVALID VERIFICATIONS</th>
                <th>SMS SENT</th>
                <th>SMS RESETS</th>
                <th>RESENT</th>
                <th>RESENT AT</th>
                <th>APNS TOKEN</th>
                <th>AUTH TOKEN</th>
                <th>LAST AUTH TOKEN</th>
                <th>AUTH TOKEN UPDATED AT</th>
                <th>CONNECTION</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @devices.each do |device| %>
                <tr>
                  <td><%= device.online ? raw('<i class="fa fa-circle"></i>') : raw('<i class="fa fa-circle-o"></i>') %></td>
                  <td><%= device.uuid%></td>
                  <td><%= device.user_id %></td>
                  <td><%= link_to device.phone, device.user %></td>
                  <td><%= device.language %></td>
                  <td><%= device.verification_code %></td>
                  <td><%= device.invalid_count %></td>
                  <td><%= device.sms_count %></td>
                  <td><%= device.reset_count %></td>
                  <td><%= device.resent %></td>
                  <td><%= device.resent_at.to_s(:datetime) if device.resent_at%></td>
                  <td><%= device.token %></td>
                  <td><%= device.auth_token %></td>
                  <td><%= device.last_token %></td>
                  <td><%= device.token_updated_at.to_s(:datetime) if device.token_updated_at%></td>
                  <td><%= device.connection_type %></td>
                  <td>
                    <%= link_to "Reset sms", reset_sms_device_path(device), method: :put, class: 'btn btn-default' %>
                  </td>
                </tr>
              <% end -%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
