
  <% @connections.each do |connection| %>
  <div class="connection_row">
    <div class="connection_header">
      <% conn = @user.get_connection(connection.id) %>
      <%= link_to (viewname(@user, connection)), @user %> <%= get_relation(@user, connection.id) %> <%= link_to (viewname(connection, @user)), connection %>
      <%= image_tag 'information.png', class: 'show_detail_button'%>
    </div>
    <div class="connection_detail">
      <%= raw connection_info(@user.get_connection(connection.id)) %>
      <%= raw connection_info(connection.get_connection(@user.id), true) %>
    </div>
  </div>
  <% end -%>