<%= form_for(@user, html: {autocomplete: 'off',  multipart: true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :photo %>
    <div class="imagefield">
      <%= image_tag @user.photo.url(:x100), class: 'circular_images' if @user.photo %>
      <div class="imagedescription">
        <%= f.file_field :photo %>
        <%= f.check_box :remove %> Remove photo
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, id: 'u_name'%>
  </div>

  <% if @user.admin? %>
    <div class="field">
      <%= link_to("Reset password", reset_password_user_path(@user), method: :put) %>
    </div>
  <% end -%>

  <div class="field">
    <%= f.label :phone %><br>
    <%= f.phone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, autocomplete: 'off' %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.select :role, ['admin', 'user'] %>
  </div>
  <hr />
  <div class="actions">
    <%= f.submit('Update User', class: 'btn btn-primary') %>
  </div>
<% end %>


