<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @user.avatar.url(:big_ret), class: 'circular_images' %>
</p>

<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Authentication token:</strong>
  <%= @user.auth_token %>
</p>

<section id="connections">
  <%= render 'connections' %>
</section>


<%= link_to "Assign new token", expire_token_user_path(@user), method: "put", class: "btn" %>

<%= link_to 'Edit', edit_user_path(@user), class: "btn" %>
<%= link_to 'Back', users_path %>
