<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @token.id %>
</p>

<p>
  <strong>Token:</strong>
  <%= @token.token_id.truncate(20) %>
</p>

<p>
  <strong>User:</strong>
  <%= @token.user.name %>
</p>

<p>
  <strong>Session:</strong>
  <%= @token.session.session_id.truncate(20) %>
</p>

<p>
  <strong>Created:</strong>
  <%= @token.created_at %>
</p>

<%= link_to 'Back', tokens_path %>
