<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @token.token_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @token.user.name %>
</p>

<p>
  <strong>Session:</strong>
  <%= @token.session.session_id %>
</p>

<%= link_to 'Edit', edit_token_path(@token) %> |
<%= link_to 'Back', tokens_path %>
