<!--<span>
  Created at:
  <%= l(@feedback.created_at, format: "%d.%m.%Y %H:%M") %>
</span>-->
<br />
<span>
  Type:
  <%= @feedback.feedback_type %>
</span>
<br />
<span>
  User:
  <%= @user.name if @user %> (<%= @feedback.user_id %>)
</span>
<br />
<span>
  Phone:
  <%= @user.phone if @user %> 
</span>
<br />
<span>
  Message:
</span>
<p>
  <%= @feedback.message %>
</p>