<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @location.id %>
</p>

<p>
  <strong>Session:</strong>
  <%= @location.session.id %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @location.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @location.lon %>
</p>

<p>
  <strong>Bearing:</strong>
  <%= @location.bearing %>°
</p>

<p>
  <strong>Created:</strong>
  <%= @location.created_at %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @location.updated_at %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
