<!DOCTYPE html>
<html>
  <head>
    <title>Remote Assistant</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">-->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="author" href="http://grozav.com"/>
    <link rel="shortcut icon" href=<%= image_url 'favicon.png' %> />
  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <a class="navbar-brand" href="/"><%= image_tag 'Logo-Small.png', class: 'brand-logo' %></a>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-comment fa-2x fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <%= image_tag 'profile-2.jpg', class: 'pull-left dropdown-messages-profile' %>
                            <div>
                                <strong>Lara Smith</strong>
                                <span class="pull-right dropdown-messages-date text-muted">
                                    <em>Yesterday</em>
                                </span>
                            </div>
                            <div class="dropdown-messages-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <%= image_tag 'profile-3.jpg', class: 'pull-left dropdown-messages-profile' %>
                            <div>
                                <strong>Jack Black</strong>
                                <span class="pull-right dropdown-messages-date text-muted">
                                    <em>Yesterday</em>
                                </span>
                            </div>
                            <div class="dropdown-messages-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <%= image_tag 'profile-4.jpg', class: 'pull-left dropdown-messages-profile' %>
                            <div>
                                <strong>Alex Smith</strong>
                                <span class="pull-right dropdown-messages-date text-muted">
                                    <em>Yesterday</em>
                                </span>
                            </div>
                            <div class="dropdown-messages-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="mail.html">
                            <span class="btn btn-primary btn-block">
                                <small>Read All Messages</small>
                            </span>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user  fa-2x fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                  <% if current_user %>
                    <li>
                      <%= link_to(current_user) do %>
                        <i class="fa fa-user fa-fw"></i> User Profile
                      <% end -%>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to(destroy_user_session_path, method: "delete") do %>
                        <i class='fa fa-sign-out fa-fw'></i> Sign out
                      <% end -%>
                    </li>
                  <% else %>
                    <%= link_to(new_user_session_path) do %>
                      <i class='fa fa-sign-in fa-fw'></i> Sign in
                    <% end -%>
                  <% end -%>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </ul>
        <!-- /.navbar-top-links -->
      </nav>
      <!-- /.navbar-static-top -->

      <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="side-menu">
            <!--
            * Přepsat buttony
            * Fixnout barvu neaktivních submenu
            * Autor v HTML hlavičce
            * Active class
            * Zarovnání
            * Chybějící views
            -->
            <% if current_user %>
              <li>
                <%= link_to(dashboard_index_path, :class => current_class?(dashboard_index_path)) do %>
                  <i class="fa fa-dashboard fa-fw fa-3x"></i> Dashboard
                <% end %>
              </li>
              <li>
                <%= link_to(activity_monitor_index_path, :class => current_class?(activity_monitor_index_path)) do %>
                  <i class="fa fa-desktop fa-fw fa-3x"></i> Activity
                <% end %>
              </li>
              <li>
                <%= link_to users_path, :class => current_class?(users_path) do %>
                  <i class="fa fa-users fa-fw fa-3x"></i> Users
                <% end %>
              </li>
              <li>
                <%= link_to connections_path, :class => current_class?(connections_path) do %>
                  <i class="fa fa-exchange fa-fw fa-3x"></i> Connections
                <% end %>
              </li>
              <li>
                <%= link_to devices_path, :class => current_class?(devices_path) do %>
                  <i class="fa fa-mobile-phone fa-fw fa-3x"></i> Devices
                <% end %>
              </li>
              <li>
                <!-- /.nav-second-level -->
              </li>
              <li>
                <a href="#"><i class="fa fa-folder-open fa-fw fa-3x"></i> Internal<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                    <%= link_to("Notifications", notifications_index_path, :class => current_class?(notifications_index_path)) %>
                  </li>
                </ul>
                <!-- /.nav-second-level -->
              </li>
              <li>
                <%= link_to(feedbacks_path, :class => current_class?(feedbacks_path)) do %>
                  <i class="fa fa-envelope fa-fw fa-3x"></i> Feedback
                <% end %>
              </li>
              <li>
                <%= link_to(web_info_index_path, :class => current_class?(web_info_index_path)) do %>
                  <i class="fa fa-rss fa-fw fa-3x"></i> Newsletter
                <% end %>
              </li>
              <li>
                <%= link_to(settings_path, :class => current_class?(settings_path)) do %>
                  <i class="fa fa-cog fa-fw fa-3x"></i> Settings
                <% end %>
            </li>
            <% end %>
          </ul>
          <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
      </nav>
      <!-- /.navbar-static-side -->
      <div id="page-wrapper">

        <!--  YIELD -->
        <%= yield if current_user %>
        <!-- /YIELD -->

      </div>
    </div>
  </body>
</html>
